tipos-variaveis/.vscode/settings.json
tipos-variaveis/.obsidian/app.json
tipos-variaveis/.obsidian/appearance.json
tipos-variaveis/.obsidian/core-plugins-migration.json
tipos-variaveis/.obsidian/core-plugins.json
tipos-variaveis/.obsidian/hotkeys.json
tipos-variaveis/.obsidian/workspace.json
Operadores/.obsidian/app.json
Operadores/.obsidian/appearance.json
Operadores/.obsidian/core-plugins-migration.json
Operadores/.obsidian/core-plugins.json
Operadores/.obsidian/hotkeys.json
Operadores/.obsidian/workspace.json
Operadores/.vscode/settings.json
